@page
@using wbzf.Utility;
@model wbzf.Areas.Admin.Pages.AccountManagement.AccountTransferModel
@{
    ViewData["Title"] = "Account Transfer";
}
<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title"> @ViewData["Title"] </h4>
            <ol class="breadcrumb p-0 m-0">
                <li>
                    <a asp-area="Admin" asp-page="/dashboard">Home</a>
                </li>

                <li class="active">
                    @ViewData["Title"]
                </li>

            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<form method="post">
    <div class="col-md-6">
        <div class="panel panel-color panel-primary">

            <div class="panel-heading">
                <h3 class="panel-title">
                    Money Transfer To Another Account
                </h3>
            </div>
            <div class="panel-body">

                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.Transactions.Accounts.Name">From Account Name <span class="text-danger">*</span></label>

                        <select id="fromAccount_Id" asp-for="@Model.Transactions.Account_Id" asp-items="@Model.AccountList" class="required form-control">
                            <option disabled selected>--Please Select Account--</option>
                        </select>
                        <span asp-validation-for="@Model.Transactions.Account_Id" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Account Type<span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-lg-6">
                            <div class="radio">
                                <input type="radio" required  name="rdTxnMode" value="ownAccount" id="ownAccount" />
                                <label>Own Funds</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="radio">
                                <input type="radio" required name="rdTxnMode" value="otherAccount" id="otherAccount" />
                                <label>Other Account</label>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div id="ownAccountDetails">
                   <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.Transactions.ToAccounts.Name">To Account Name <span class="text-danger">*</span></label>

                        <select id="toAccount_Id" asp-for="@Model.Transactions.ToAccount_Id" asp-items="@Model.AccountList" class="required form-control">
                            <option disabled selected>--Please Select Account--</option>
                        </select>
                        <span asp-validation-for="@Model.Transactions.ToAccount_Id" class="text-danger"></span>
                    </div>
                </div>
                </div>
                <div id="otherAccountDetails">
                   <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.Transactions.PayTo_Id">To Account Name <span class="text-danger">*</span></label>

                            <select asp-for="@Model.Transactions.PayTo_Id" asp-items="@Model.userList" class="required form-control">
                            <option disabled selected>--Please Select Account--</option>
                        </select>
                            <span asp-validation-for="@Model.Transactions.PayTo_Id" class="text-danger"></span>
                    </div>
                </div>
                </div>
                
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Amount <span class="text-danger">*</span></label>
                        <input type="number" min="0" asp-for="@Model.Transactions.Amount" class="required form-control" placeholder="Enter Amount" />
                        <span asp-validation-for="@Model.Transactions.Amount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.Transactions.transaction_fees">Transaction Charges </label>
                        <input type="number" min="0" asp-for="@Model.Transactions.transaction_fees" class="form-control" placeholder="Enter Transaction Charges" />
                        <span asp-validation-for="@Model.Transactions.transaction_fees" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">

                        <label asp-for="@Model.Transactions.Remarks">Remarks </label>
                        <input type="text" asp-for="@Model.Transactions.Remarks" class="form-control" placeholder="Enter Remarks" />
                        <span asp-validation-for="@Model.Transactions.Remarks" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-block btn-md btn-success" asp-page-handler="Submit" style="font-size:medium">Save </button>

                </div>

            </div>
        </div>
    </div>
    </div>
</form>
@section scripts {
    <script>
        $(document).ready(function () {
            // Hide both sections on page load
            $('#ownAccountDetails').hide();
            $('#otherAccountDetails').hide();

            // Show/hide sections based on the selected radio button
            $('input[name="rdTxnMode"]').change(function () {
                if ($(this).val() == 'ownAccount') {
                    $('#ownAccountDetails').show();
                    $('#otherAccountDetails').hide();
                } else if ($(this).val() == 'otherAccount') {
                    $('#ownAccountDetails').hide();
                    $('#otherAccountDetails').show();
                }
            });
        });
    </script>
    <script src="~/js/accountTransaction.js" asp-append-version="true"></script>

    @{
        <partial name="_ValidationScriptsPartial" />
        <partial name="_Notification" />
    }

}
