@inject wbzf.DataAccess.Repository.IRepository.IUnitOfWork unitofwork;
@{
    var Company = unitofwork.company.GetCompany();
}

<!-- mobile menu start-->
@* <div class="mobile-nav">
            <div class="mobile-nav__inner">
                <div class="mobile-nav__item">
                    <nav class="menu-holder">
                        <ul class="mobile-menu">
                            <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">item</a></li>
                            <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">item</a></li>
                            <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">item</a></li>
                            <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">item</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>*@
<!-- mobile menu end-->
<!-- header start-->
<header class="header header--front_2">
    <div class="container-fluid">
        <div class="row no-gutters justify-content-between">
            <div class="col-auto d-flex align-items-center">
                <div class="dropdown-trigger d-none d-sm-block">
                </div>
                <div class="header-logo"><a class="header-logo__link" href="@Company.url"><img class="header-logo__img" src="@Company.logo" alt="logo" /></a></div>
            </div>
            <div class="col-auto">
                <!-- main menu start-->
                <nav>
                    <ul class="main-menu">
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="@Company.url"><span>Home</span></a>

                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="@Company.url/appeal"><span>Appeal</span></a>

                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="@Company.url/About_us"><span>About @Company.company_short_name</span></a>

                            <!-- sub menu end-->
                        </li>
                        <li class="main-menu__item main-menu__item--has-child">
                            <a class="main-menu__link" href="#"><span>Programs</span></a>
                            <!-- sub menu start-->
                            <ul class="main-menu__sub-list">
                                 @foreach (var item in unitofwork.scheme.GetAll(u => u.IsActive == true))
                                {
                                @*  <li><a href="@Company.url/Scholarship"><span>Scholarship</span></a></li> *@
                                <li><a href="@Company.url/CommonRegitrationForm?scheme_id=@item.Id"><span>@item.Name</span></a></li>
                                }

                            </ul>
                            <!-- sub menu end-->
                        
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="@Company.url/report"><span>Report</span></a>
                        </li>
                        <li class="main-menu__item main-menu__item--has-child">
                            <a class="main-menu__link" href="#"><span>Media</span></a>
                            <!-- sub menu start-->
                            <ul class="main-menu__sub-list">
                                <li><a href="@Company.url/Gallery"><span>Photo Gallery</span></a></li>
                                <li><a href="@Company.url/Video"><span>Video Gallery</span></a></li>
                                <li><a href="@Company.url/media"><span>News Update</span></a></li>

                            </ul>
                            <!-- sub menu end-->
                        </li>

                        <li class="main-menu__item"><a class="main-menu__link" href="@Company.url/Contact_us"><span>Contact Us</span></a></li>

                    </ul>
                </nav>
                <!-- main menu end-->
            </div>
            <div class="col-auto d-flex align-items-center">
                <!-- lang select start-->
                <!-- lang select end--><a class="button button--squared" asp-page="/Donation"> <span>Donate</span></a>
                <div class="dropdown-trigger d-block d-sm-none">
                    <div class="dropdown-trigger__item"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end-->
