@page
@model wbzf.Pages.PaymentModel
@{
    ViewData["Title"]="Payment";
}
@section Styles {
<form method="post" name="razorpayForm">
    <input id="razorpay_payment_id" type="hidden" name="razorpay_payment_id" />
    <input id="razorpay_order_id" type="hidden" name="razorpay_order_id" />
    <input id="razorpay_signature" type="hidden" name="razorpay_signature" />
</form>
}

<button id="rzp-button1">Click to Pay</button>

@section Scripts {
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>

        var orderId = "@Model.donation.Id"
            var options = {
                "name": "@Model.company.name",
                "description": "@Model.company.address",
                "order_id": orderId,
                "prefill": {
                    "name": "@Model.donation.Name",
                    "email": "@Model.donation.Email",
                    "contact": "@Model.donation.Mobile",
                },
                "notes": {
                    "address": "Hello World"
                },
                "theme": {
                    "color": "#3399cc"
                }
            }
            // Boolean whether to show image inside a white frame. (default: true)
            options.theme.image_padding = false;
            options.handler = function (response) {
                document.getElementById('razorpay_payment_id').value = response.razorpay_payment_id;
                document.getElementById('razorpay_order_id').value = orderId;
                document.getElementById('razorpay_signature').value = response.razorpay_signature;
                document.razorpayForm.submit();
            };
            options.modal = {
                ondismiss: function () {
                    console.log("This code runs when the popup is closed");
                },
                // Boolean indicating whether pressing escape key 
                // should close the checkout form. (default: true)
                escape: true,
                // Boolean indicating whether clicking translucent blank
                // space outside checkout form should close the form. (default: false)
                backdropclose: false
            };
            var rzp = new Razorpay(options);
            document.getElementById('rzp-button1').onclick = function (e) {
                rzp.open();
                e.preventDefault();
            }
        </script>
}

